body {
  background-color: rgb(0,0,0);
}

@font-face {
  font-family: coolFont;
  src: url(./font.ttf);
}

.text {
  color: rgb(210,210,210);
  font-family: coolFont;
  font-size: 18px;
  margin: 0px 3px;
  list-style-type: none;
}

.texth {
  color: rgb(210,210,210);
  font-family: coolFont;
  font-size: 35px;
  margin: 0px 3px;
}

.link {
  text-decoration: none;
  color: rgb(210,210,210);
  font-family: coolFont;
}

.link:hover {
  text-decoration: underline;
}


.main-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}

button {
  /*transition: 1.3s;*/
  
  border: 1px solid rgb(190,190,190, 0);
  border-radius: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(190,190,190);
  padding: 9px 18px;
  font-size: 16px;
  margin:5px;
}

button:hover {
  border: 1px solid rgb(255,255,255);
  color: white;
}

input[type=text] {
  border: 1px solid rgb(190,190,190, 0);
  border-radius: 6px;
  background-color: rgb(63, 65, 69);
  color: rgb(190,190,190);
  padding: 7px 13px;
  font-size: 16px;
  box-shadow:0 4px 6px 5px rgba(0,0,0,.35);
  /*transition: 0.3s;*/
  margin:5px;
  width: 70%;
}

.login-panel {
  justify-content: center;
}
